<div class="">
	<div class="">
		<img src="https://dummyimage.com/720x400" alt="" class="">
		<div class="">
			<h2 class="">CATEGORY</h2>
			<a [routerLink]="['/home/product-details']"
				[queryParams]="{ id: 999, color: 'red'}" class="">
			PRODUCT TITLE</a>
			<p class="">Photo booth fam kinfolk cold-pressed tousled waistcoat.</p>
			<div class=""></div>
			<a class="">Learn More</a>
		</div>
	</div>
</div>

<!-- <div class="row">
	@for (character of characters?.data; track character._id) {
		<div class="column" [routerLink]="['/detail', character._id]">
			<img [src]="character.imageUrl" alt="Imagen de {{ character.name }}">
		</div>
	} @empty {
	<div class="column">
		No hay ningún personaje
	</div>
	}
	<button class="btn btn-success w-100" type="button" [disabled]="characters?.info?.nextPage == null"
		(click)="loadMore()">Cargar más personajes</button>
</div> -->